body {
  background: #222;
  color: #eee;
  font-family: monospace;
  padding: 1em;
}
h1, h2 {
  color: #ccc;
}
label, p {
  display: block;
  margin: 0.8em 0;
}
input, select {
  margin-left: 0.5em;
}
